<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="clickedOnAddButton()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" name="amount" id="amount" class="form-control" ngModel required [pattern]="'^[1-9]+[0-9]*$'">
        </div>
      </div>
      <p *ngIf="!f.valid && f.touched">The entries are not valid!</p>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" [disabled]="!f.valid">{{addButtonText}}</button>
          <button class="btn btn-danger"
                  type="button"
                  (click)="clickedOnDeleteButton()"
                  *ngIf="editMode">
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="clickedOnClearButton()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
